# Introduction to Recommender Systems

<p align="center">
    <img width="721" alt="cover-image" src="https://user-images.githubusercontent.com/49638680/204351915-373011d3-75ac-4e21-a6df-99cd1c552f2c.png">
</p>

---

# Final Project

## Dataset

The dataset is available at [KuaiRec](https://nas.chongminggao.top:4430/datasets/KuaiRec.zip).

We can download the dataset via a wget command:

In [1]:
print("Oi")

Oi

## Exploratory Data Analysis

The exploratory data analysis is something that you should do before building your recommender system. It is a good way to understand your data and to get insights about it. The main goal of such a procedure is to get answers to several questions about your data, these answers should be the numerical justification for all your choices in the following steps, in particular for the feature engineering and the model selection.

In [2]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# set plot size
plt.rcParams["figure.figsize"] = (20, 13)
%matplotlib inline
%config InlineBackend.figure_format = "retina"

## 1 Data Preprocessing

In this part we will start by loading the data and ensuring it is ready to be used and analysed

### 1.1 Load the data

Let us start by loading the data!

In [3]:
interactions = pd.read_csv("data_final_project/KuaiRec/data/small_matrix.csv")

interactions.head()

,user_id,video_id,play_duration,video_duration,time,date,timestamp,watch_ratio
0,14,148,4381,6067,2020-07-05 05:27:48.378,20200705.0,1.593898e+09,0.722103
1,14,183,11635,6100,2020-07-05 05:28:00.057,20200705.0,1.593898e+09,1.907377
2,14,3649,22422,10867,2020-07-05 05:29:09.479,20200705.0,1.593898e+09,2.063311
3,14,5262,4479,7908,2020-07-05 05:30:43.285,20200705.0,1.593898e+09,0.566388
4,14,8234,4602,11000,2020-07-05 05:35:43.459,20200705.0,1.593899e+09,0.418364

In [4]:
videos = pd.read_csv("data_final_project/KuaiRec/data/item_daily_features.csv")

videos.head()

,video_id,date,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,video_width,video_height,...,download_cnt,download_user_num,report_cnt,report_user_num,reduce_similar_cnt,reduce_similar_user_num,collect_cnt,collect_user_num,cancel_collect_cnt,cancel_collect_user_num
0,0,20200705,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,8,8,0,0,3,3,NaN,NaN,NaN,NaN
1,0,20200706,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,5,5,NaN,NaN,NaN,NaN
2,0,20200707,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,0,0,NaN,NaN,NaN,NaN
3,0,20200708,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,3,3,0,0,3,3,NaN,NaN,NaN,NaN
4,0,20200709,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,2,1,1,1,NaN,NaN,NaN,NaN

In [5]:
users = pd.read_csv("data_final_project/KuaiRec/data/user_features.csv")

users.head()

,user_id,user_active_degree,is_lowactive_period,is_live_streamer,is_video_author,follow_user_num,follow_user_num_range,fans_user_num,fans_user_num_range,friend_user_num,...,onehot_feat8,onehot_feat9,onehot_feat10,onehot_feat11,onehot_feat12,onehot_feat13,onehot_feat14,onehot_feat15,onehot_feat16,onehot_feat17
0,0,high_active,0,0,0,5,"(0,10]",0,0,0,...,184,6,3,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,full_active,0,0,0,386,"(250,500]",4,"[1,10)",2,...,186,6,2,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,full_active,0,0,0,27,"(10,50]",0,0,0,...,51,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,full_active,0,0,0,16,"(10,50]",0,0,0,...,251,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,full_active,0,0,0,122,"(100,150]",4,"[1,10)",0,...,99,4,2,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
tags = pd.read_csv("data_final_project/KuaiRec/data/item_categories.csv")

tags.head()

   video_id     feat
0         0      [8]
1         1  [27, 9]
2         2      [9]
3         3     [26]
4         4      [5]

In [7]:
friends = pd.read_csv("data_final_project/KuaiRec/data/social_network.csv")

friends.head()

   user_id friend_list
0     3371      [2975]
1       24      [2665]
2     4402        [38]
3     4295      [4694]
4     7087      [7117]

###  1.2 Ensure Data Correctness

Try to check for missing values, duplicates, and other data quality issues, like impossible values, negative timestamps, etc.

In [8]:
import ast

# I do the most simple thing, I remove the rows with missing values
interactions = interactions.dropna()
# I also remove the duplicates
interactions = interactions.drop_duplicates()
# I also remove the rows with negative timestamps
interactions = interactions[interactions["timestamp"] >= 0]

# I also remove the duplicates
videos = videos.drop_duplicates(subset="video_id")
# Replace all Nans by 0
videos = videos.fillna(0)

# I do the most simple thing, I remove the rows with missing values
users = users.dropna()
# I also remove the duplicates
users = users.drop_duplicates()

# I do the most simple thing, I remove the rows with missing values
tags = tags.dropna()
# I also remove the duplicates
tags = tags.drop_duplicates()

videos.head(100)

,video_id,date,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,video_width,video_height,...,download_cnt,download_user_num,report_cnt,report_user_num,reduce_similar_cnt,reduce_similar_user_num,collect_cnt,collect_user_num,cancel_collect_cnt,cancel_collect_user_num
0,0,20200705,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,8,8,0,0,3,3,0.0,0.0,0.0,0.0
63,1,20200705,4978,NORMAL,2020-04-09,PictureSet,public,0.0,886,1015,...,17,11,0,0,13,12,0.0,0.0,0.0,0.0
126,2,20200705,939,NORMAL,2020-04-11,Kmovie,public,8000.0,720,1280,...,5,5,0,0,13,13,0.0,0.0,0.0,0.0
189,3,20200705,5889,NORMAL,2020-04-11,PictureSet,public,0.0,1080,1080,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
252,4,20200705,4284,NORMAL,2020-04-12,ShortCamera,public,18000.0,720,1280,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5356,95,20200705,2383,NORMAL,2020-06-23,ShortImport,public,14014.0,720,1280,...,3,3,0,0,51,50,0.0,0.0,0.0,0.0
5419,96,20200705,7259,NORMAL,2020-06-23,ShortImport,public,6647.0,540,960,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
5482,97,20200705,1011,NORMAL,2020-06-23,ShortImport,public,5733.0,540,960,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
5503,98,20200705,2801,NORMAL,2020-06-23,ShortImport,public,7966.0,720,1280,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
5566,99,20200705,6964,NORMAL,2020-06-23,ShortImport,public,4633.0,720,1280,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

## 2. Data engineering

This part focuses on not analyzing the data, but rather ease the future analysis by building meaningful data from the given raw data.

### 2.1 Meaningful features

In this part we will build several features to ease the later analysis


#### 2.1.1 Video features

The video features are its characteristics, themes, category. The name of these categories is not relevant, and is symbolized as integers. To ease the later analysis, and since a video can have multiple tags, we will represent it as a binary vector. This will prove useful for the content based filtering.

In [9]:
interactions_short = interactions[["user_id", "video_id", "watch_ratio"]]
X_train = interactions_short
X_test = interactions_short

In [10]:
from sklearn.preprocessing import MultiLabelBinarizer

# Binarize tags
mlb = MultiLabelBinarizer()
tags["feat"] = tags["feat"].apply(ast.literal_eval)
tags_matrix = mlb.fit_transform(tags["feat"])
df_tags = pd.DataFrame(tags_matrix, index=tags["video_id"], columns=mlb.classes_)
df_tags

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
video_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10724,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10727,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 2.1.2 Like-view ratio

Self explanatory, this is a great indicator of how good is a video.

In [22]:
df_video_appreciation = videos[["video_id", "like_cnt", "play_cnt"]].copy()
like_ratio = df_video_appreciation["like_cnt"] / df_video_appreciation["play_cnt"]
df_video_appreciation["ratio"] = like_ratio
df_video_appreciation

        video_id  like_cnt  play_cnt     ratio
0              0       573     10141  0.056503
63             1      1748     19205  0.091018
126            2       244     45038  0.005418
189            3       132      1237  0.106710
252            4         1        95  0.010526
...          ...       ...       ...       ...
343336     10723        24       214  0.112150
343337     10724       264       965  0.273575
343338     10725       851     15487  0.054949
343339     10726        44      7859  0.005599
343340     10727         7       233  0.030043

[10728 rows x 4 columns]

### 2.2 Build the user-item interaction matrix

In this part, we will build the user-item interaction matrix. We will base our rating on the watch ratio of the video in the interaction data.

In [11]:
# Represent the actual grid
all_pairs = pd.MultiIndex.from_product(
    [users["user_id"], videos["video_id"]],
    names=["user_id", "video_id"]
).to_frame(index=False)

# Fill the values
df_complete = pd.merge(all_pairs, X_train, how="left", on=["user_id", "video_id"])

user_item_matrix = df_complete.pivot_table(
    index="user_id",     # rows
    columns="video_id",  # columns
    values="watch_ratio",     # ratio to fill
    fill_value=0         # If user did not see the video
)

user_item_matrix

video_id,103,109,120,122,128,130,131,133,136,137,...,10430,10436,10457,10462,10500,10506,10519,10552,10589,10595
user_id,,,,,,,,,,,,,,,,,,,,,
14,0.429126,1.482039,0.728738,0.477810,0.439333,1.150245,1.816317,0.781122,1.554396,2.307486,...,0.348932,0.965220,1.787169,1.816010,0.150323,1.535256,2.757278,0.143556,1.273362,1.719201
19,0.624466,1.070684,1.006064,0.759092,0.882691,0.639313,0.670019,1.407319,0.874814,0.722665,...,0.642896,0.633833,0.586222,1.178295,0.000000,0.977297,1.266322,0.265038,0.928168,1.107873
21,1.415049,0.000000,1.809125,0.000000,0.588365,0.619549,0.818749,1.944596,1.015039,0.575723,...,0.896847,0.918930,0.602573,0.995887,1.173871,0.957399,1.148837,0.216699,1.210398,1.713792
23,0.169223,2.549891,0.247487,0.438669,0.114338,0.828292,0.038440,2.455882,1.128438,1.021400,...,0.577134,0.000000,5.304503,0.610346,0.185161,4.725427,0.000000,0.430445,2.225363,0.000000
24,0.345049,0.449337,0.802936,0.797411,1.875599,0.783867,2.104939,6.418434,0.228018,3.892566,...,0.884743,0.578658,0.300125,2.151558,2.311935,1.848424,0.388630,0.103633,0.547944,0.093900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7142,0.575631,0.960989,0.950854,0.611157,0.569484,0.944994,0.481794,1.020178,0.805988,0.514642,...,0.727006,0.794809,0.843906,1.491536,1.525323,1.261752,1.630146,0.300578,1.047888,1.419171
7147,1.112427,0.380971,1.419818,0.617423,1.067951,1.020166,0.925878,1.656635,0.907465,0.722232,...,0.541901,0.813574,1.014475,1.575067,1.614839,1.191774,1.935745,0.261799,0.974836,1.364633
7153,1.338544,0.414703,0.664433,0.339429,1.038049,0.225616,0.000000,2.330027,2.045522,0.604141,...,0.568422,0.887281,0.287259,4.364816,0.898387,0.944044,1.031352,0.309217,0.723977,0.425931
7159,0.658155,0.231235,0.788894,0.870249,0.179318,1.141559,0.464358,0.173222,1.065303,0.718853,...,0.201295,0.444783,1.494014,3.151875,1.700323,1.479968,2.092679,0.393572,1.600266,1.596454
7162,1.418544,0.271276,0.335248,1.216252,1.402147,1.181991,0.178655,0.912791,0.721041,0.186449,...,0.167450,0.183126,1.504646,0.343775,1.919194,1.594284,0.928510,0.529759,0.601485,2.503155

### Observation

We will not detail what a user-item matrix is here.
It is interesting to notice that this matrix is mostly full of actual values and not zeros. This is important because when a user did not see a video, the watch_ratio is zero. The matrix containing very few zeros in proportion indicates that most user saw most videos, giving us plenty of data to make a relevant Recommender system.

## 3. Model developpement

Build the models


### 3.1 ALS

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [13]:
spark = SparkSession.builder.appName("ALSMatrixFactorisation").getOrCreate()

sdf = spark.createDataFrame(X_train).repartition(200)
sdf = sdf.sample(fraction=1.0).cache()

indexer = [
    StringIndexer(inputCol=column, outputCol=column + "_index")
    for column in list(set(sdf.columns) - set(["watch_ratio"]))
]

pipeline = Pipeline(stages=indexer)
transformed = pipeline.fit(sdf).transform(sdf)
transformed.show()

(training, test) = transformed.randomSplit([0.8, 0.2], seed=42)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/17 13:54:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/17 13:55:59 WARN TaskSetManager: Stage 0 contains a task of very large size (4527 KiB). The maximum recommended task size is 1000 KiB.

+-------+--------+------------------+--------------+-------------+
|user_id|video_id|       watch_ratio|video_id_index|user_id_index|
+-------+--------+------------------+--------------+-------------+
|    127|    8514|0.2760039499670836|        1511.0|       1387.0|
|    131|    9984| 0.752586782376502|        2987.0|        540.0|
|    155|    3020|0.3067579685334637|        2922.0|       1210.0|
|    531|    9133|1.3205747126436782|         836.0|        961.0|
|    352|    5522|1.4036053392046235|        2431.0|        256.0|
|    127|    7046| 1.927276234567901|        2007.0|       1387.0|
|    261|    2121|0.4806658574648864|        2482.0|        106.0|
|    169|   10161|0.9316729116156052|        3091.0|        878.0|
|    262|    2400|1.3505952380952382|        1581.0|       1045.0|
|    534|    8692|0.7170757455793085|        1572.0|       1253.0|
|    261|    8822|1.1425933816219287|        1953.0|        106.0|
|    262|    3767|            1.1987|        2903.0|       1045.0|
|    506|    9926|0.3576119402985074|        2590.0|        436.0|
|    294|    8653| 1.685085766662302|        1179.0|        162.0|
|    438|    4443|1.2431682618948536|         522.0|        268.0|
|    224|    5957|0.6658209783556648|        1691.0|        263.0|
|    407|    7184|2.0517720951099148|        2689.0|       1233.0|
|    452|     816|0.5080153745195463|        2479.0|         32.0|
|    135|    4068|0.9824752475247523|         350.0|       1071.0|
|    364|     479| 0.938498485955936|         355.0|       1017.0|
+-------+--------+------------------+--------------+-------------+
only showing top 20 rows

In [14]:
als = ALS(
    maxIter=5,
    regParam=0.09,
    rank=25,
    userCol="user_id",
    itemCol="video_id",
    ratingCol="watch_ratio",
    coldStartStrategy="drop",
    nonnegative=True,
)

model = als.fit(training)

evaluator = RegressionEvaluator(
    metricName="rmse", labelCol="watch_ratio", predictionCol="prediction"
)

predictions = model.transform(test)
rmse = evaluator.evaluate(predictions)

print("RMSE=" + str(rmse))
predictions.show()

RMSE=1.3615790879225045

[Stage 108:(169 + 17) / 200][Stage 111:>  (0 + 0) / 1][Stage 113:>  (0 + 0) / 1]

+-------+--------+------------------+--------------+-------------+----------+
|user_id|video_id|       watch_ratio|video_id_index|user_id_index|prediction|
+-------+--------+------------------+--------------+-------------+----------+
|    833|    4238|1.1172151898734175|        2730.0|        244.0| 1.1744989|
|    833|    9793|1.5931754182540998|         331.0|        244.0| 1.4400543|
|   2366|     361| 0.759344262295082|        2070.0|       1365.0|0.76793146|
|   2366|    1314|1.0809241562840208|        1453.0|       1365.0|0.89514995|
|   2366|    1320|28.029094002552107|        2064.0|       1365.0| 0.5969127|
|   2366|    4044|0.9616504854368932|         617.0|       1365.0|0.68810177|
|   2366|    7643|  1.22299974707023|         862.0|       1365.0| 0.5986557|
|   2366|    9817|0.1258528911409076|        2821.0|       1365.0|0.12752739|
|   2366|   10377|1.2126520681265207|         976.0|       1365.0| 0.9780879|
|   3175|     493|0.4571428571428571|        1687.0|        366.0| 0.6652795|
|   3175|    7289| 0.952844057446568|         967.0|        366.0|0.96964645|
|   3918|     297|0.5530570252792475|          18.0|        703.0|0.89588535|
|   3918|    3057|0.2890711135611907|        2851.0|        703.0|0.21765326|
|   3918|    6022|0.1708973248872077|         679.0|        703.0|0.13281232|
|   5803|     207|0.5613114754098361|        2331.0|       1204.0| 1.4100814|
|   5803|     681|0.8792747641509434|         536.0|       1204.0| 1.3422617|
|   5803|    2361|0.8852068442711718|         844.0|       1204.0|0.90621156|
|   5803|    9008| 1.329060628742515|        1573.0|       1204.0|0.80989134|
|   5803|    9913|0.4888200132831525|        3015.0|       1204.0| 0.9386993|
|   6336|    2423|0.4374688796680498|        3219.0|       1395.0|0.38754246|
+-------+--------+------------------+--------------+-------------+----------+
only showing top 20 rows

In [15]:
user_recs = model.recommendForAllUsers(20).show(10)

[Stage 131:==============================================>      (87 + 13) / 100]

+-------+--------------------+
|user_id|     recommendations|
+-------+--------------------+
|    137|[{9178, 2.01594},...|
|    140|[{9178, 2.3484573...|
|    155|[{9178, 2.3166401...|
|    157|[{7383, 2.5288987...|
|    193|[{10500, 2.229578...|
|    223|[{9178, 2.5901344...|
|    224|[{9178, 2.6682658...|
|    322|[{5365, 14.993155...|
|    332|[{4238, 8.935797}...|
|    346|[{7559, 7.0832167...|
+-------+--------------------+
only showing top 10 rows

### 3.2 Content Based

Here we will analyze the features of the video. We do not have a title nor a description to work with. We only have the video length and its features. We could also consider the resolution of the video or the music but this is not relevant for our recommandations.


#### 3.2.1 Similarity matrix for video metadata

First, let us build the similarity matrix for metadatas, including the author and the length.

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

df_videos = videos[["author_id", "video_duration"]]
df_videos

        author_id  video_duration
0            3309          5966.0
63           4978             0.0
126           939          8000.0
189          5889             0.0
252          4284         18000.0
...           ...             ...
343336        236          4833.0
343337       5271         54720.0
343338       1924         15800.0
343339       7604          5132.0
343340       7464          5666.0

[10728 rows x 2 columns]

In [ ]:
# Compute similarity matrix for video metadata
similarity_matrix = cosine_similarity(df_videos)
df_sim = pd.DataFrame(similarity_matrix, index=videos["video_id"], columns=videos["video_id"])
df_sim

#### 3.2.2 Similarity matrix for video tags

Let us now build the similarity matrix for the video tags

In [90]:
# Compute similarity matrix for video tags
similarity_matrix = cosine_similarity(df_tags)
df_sim = pd.DataFrame(similarity_matrix, index=tags["video_id"], columns=tags["video_id"])
df_sim

video_id,0,1,2,3,4,5,6,7,8,9,...,10718,10719,10720,10721,10722,10723,10724,10725,10726,10727
video_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.000000,0.707107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.707107,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10723,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.707107,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10724,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10725,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10726,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10727,0.0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

### 3.3 Two Towers

Let us implement a two tower algorithm


#### 3.3.1 Build the towers

Let us start by building both towers used by the model. There is one tower for the users and one tower for the videos.

In [38]:
from sklearn.preprocessing import LabelEncoder

# Build tower for users (excluding some fields like actual follow, fan, friend counts)
user_tower = users[['user_id', 'user_active_degree', 'is_live_streamer', 
        'is_video_author', 'follow_user_num_range','fans_user_num_range', 'friend_user_num_range',  
        'onehot_feat0', 'onehot_feat1', 'onehot_feat2',
       'onehot_feat3', 'onehot_feat4', 'onehot_feat5', 'onehot_feat6',
       'onehot_feat7', 'onehot_feat8', 'onehot_feat9', 'onehot_feat10',
       'onehot_feat11', 'onehot_feat12', 'onehot_feat13', 'onehot_feat14',
       'onehot_feat15', 'onehot_feat16', 'onehot_feat17']].copy()

# Replace non integer fields by integers (labels)
user_tower["user_active_degree"] = LabelEncoder().fit_transform(user_tower["user_active_degree"])
user_tower["follow_user_num_range"] = LabelEncoder().fit_transform(user_tower["follow_user_num_range"])
user_tower["fans_user_num_range"] = LabelEncoder().fit_transform(user_tower["fans_user_num_range"])
user_tower["friend_user_num_range"] = LabelEncoder().fit_transform(user_tower["friend_user_num_range"])

user_tower

,user_id,user_active_degree,is_live_streamer,is_video_author,follow_user_num_range,fans_user_num_range,friend_user_num_range,onehot_feat0,onehot_feat1,onehot_feat2,...,onehot_feat8,onehot_feat9,onehot_feat10,onehot_feat11,onehot_feat12,onehot_feat13,onehot_feat14,onehot_feat15,onehot_feat16,onehot_feat17
0,0,2,0,0,0,0,0,0,1,17,...,184,6,3,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0,0,4,1,2,0,3,25,...,186,6,2,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1,0,0,1,0,0,0,6,8,...,51,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,0,0,1,0,0,0,1,8,...,251,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,0,0,2,1,0,0,1,8,...,99,4,2,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,7171,1,0,1,5,1,0,0,3,8,...,259,1,4,0,1.0,0.0,0.0,0.0,0.0,0.0
7172,7172,1,0,0,1,1,2,0,3,25,...,11,2,0,0,1.0,0.0,0.0,0.0,0.0,0.0
7173,7173,1,0,0,7,1,2,0,6,8,...,51,2,2,0,1.0,0.0,0.0,0.0,0.0,0.0
7174,7174,1,0,0,7,0,0,1,6,25,...,107,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
7175,7175,1,0,1,2,2,4,0,6,8,...,132,5,2,0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
# Build tower for videos (excluding some fields like )
video_tower = videos[['video_type', 'upload_type', 'video_duration','video_width', 'video_height', 'music_id', 'video_tag_id','show_cnt', 'show_user_num', 'play_cnt', 'play_user_num',
                'play_duration', 'complete_play_cnt', 'complete_play_user_num', 'valid_play_cnt', 'valid_play_user_num', 'long_time_play_cnt',
                'long_time_play_user_num', 'short_time_play_cnt', 'short_time_play_user_num', 'play_progress']].copy()

# Replace non integer fields by integers (labels)
video_tower["video_type"] = LabelEncoder().fit_transform(video_tower["video_type"])
video_tower["upload_type"] = LabelEncoder().fit_transform(video_tower["upload_type"])

# Put fields with high value to log scale
video_tower["play_duration"] = np.log1p(df["play_duration"])
video_tower

NameError: name 'df' is not defined

In [37]:
from sklearn.preprocessing import normalize

user_embeds = normalize(user_tower)
video_embeds = normalize(video_tower)

video_embeds

array([[2.98374027e-10, 4.47561040e-09, 1.78009944e-06, ...,
        5.78547238e-07, 4.41891934e-07, 2.38657452e-10],
       [5.35941654e-10, 5.89535819e-09, 0.00000000e+00, ...,
        1.76324804e-06, 1.58906700e-06, 3.34447658e-10],
       [1.73980423e-09, 5.21941270e-09, 1.39184339e-05, ...,
        1.41480880e-05, 9.06090045e-06, 1.44424947e-09],
       ...,
       [2.25163098e-10, 3.37744648e-09, 3.55757695e-06, ...,
        9.77658173e-07, 9.31950064e-07, 1.30057193e-10],
       [7.76184663e-09, 1.16427699e-07, 3.98337969e-05, ...,
        1.27915232e-05, 1.22637177e-05, 6.35014373e-09],
       [9.16735089e-10, 1.28342912e-08, 5.19422101e-06, ...,
        1.22842502e-07, 1.14591886e-07, 1.92852517e-10]],
      shape=(10728, 21))

In [ ]:
print("Okay")

## 4. Recommender System

This part will focus on defining the recommender system to be used.


### 4.1 Extracting "True Data"

First and foremost, we will need a way to define a test set for each user, in order to determine whether our system is efficient or not.

In [ ]:
def extract_N_best_test(user_id: int, amount: int) :
    watched_videos = X_test[X_test["user_id"] == user_id]
    sorted_videos = watched_videos.sort_values(by=['watch_ratio'], ascending = False)
    return sorted_videos.head(amount)["video_id"].tolist()

### 4.2 Recommending with the best tag

Three methods have been implemented for ranking the tags for a given user:
- Counting the total amount of views for each tag
- Couting the total watch_ratio for each tag
- Counting the average watch_ratio for each tag

The first method seems to work well, but the second method got the best results.
The third method did not seem to work, because we lose the notion of quantity for the recommendation. This means having a high watch_ratio on a tag based on a single occurence of a user watching a video with this tag will automatically make this tag the most recommended, even though the user only saw it once.

In [89]:
from operator import add


def find_best_tags(user_id: int) :
    """
    This function returns a list sorted by ascending order of user preference. 
    Depending on the situation, it can return a result corresponding to the sum of all watch ratios, the total amout of videos watched or the average of watch_ratios for a tag.
    """
    user_interactions = X_train[X_train["user_id"] == user_id]

    # Calculate order of prefered tags
    total_watch_ratio = [0] * 30
    total_watch = [0] * 30
    for _, interaction_row in user_interactions.iterrows():
        video_id = interaction_row["video_id"]
        tag_row = df_tags.loc[video_id]
        tag_list = tag_row[[i for i in range(1, 31)]].tolist()
        total_watch_ratio = list( map(add, total_watch_ratio, [a * interaction_row["watch_ratio"] for a in tag_list]))
        total_watch = list( map(add, total_watch, tag_list))

    # Choose result
    
    # final = total_watch                                            # Total watch count per tag
    final = total_watch_ratio                                      # Total watch ratio per tag
    # final = [a/b for a,b in zip(total_watch_ratio,total_watch)]    # Average watch ratio per tag
    return np.argsort(final).tolist()

find_best_tags(14)

[23,
 21,
 2,
 22,
 28,
 26,
 29,
 20,
 12,
 13,
 1,
 3,
 15,
 17,
 19,
 11,
 4,
 18,
 9,
 14,
 0,
 24,
 16,
 6,
 25,
 8,
 5,
 10,
 7,
 27]

### 4.3 Recommending based on user watch history

Now, we will combine all the models we defined.

In [ ]:
def find_N_best_train(user_id: int, amount: int) :
    """
    This function returns the top N videos watched by the given user, based on the watch_ratio
    """
    watched_videos = X_train[X_test["user_id"] == user_id]
    sorted_videos = watched_videos.sort_values(by=['watch_ratio'], ascending = False)
    return sorted_videos.head(amount)["video_id"].tolist()

### 4.4 Recommending System

That's where the sh#t gets real. We will assemble everything we have done so far.

In [ ]:
def recommend_N_for_user(user_id: int, amount: int) :
    return

## 5. Tests!

We will now evaluate our model.


### 5.1 The metrics